
#contenido{
	margin-right:50px;
	background: rgba(255,255,255,0.9);
	border-radius: 5px 5px 5px 5px;
	padding: 15px;
	width: 90%;
}

.dia{
	background: #04A4BB;
	border: 1px solid white;
}

.dia:hover{
color: rgba(0,0,0,1);
background:rgba(5,114,247,1);
opacity:1;
cursor: pointer;
}

#dia0{
	background: #B5B9BA;
	cursor: not-allowed;
}
